h2 {
    border-bottom: 1px solid #8D989E;
}

.details {
    margin-bottom: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.rating {
    border: 1px solid #8D989D;
    border-radius: 6px;
    padding: 0.25rem 0.5rem;
    margin-right: 1rem;
    text-align: center;
    color: #8D989D;
}

.runtime {
    flex-grow: 1;
}

.content {
    margin-bottom: 1rem;
}

.button {
    background: #F9B44A;
    border-radius: 6px;
    color: #fff;
    padding: 1rem 3rem;
    font-weight: 400;
    float: right;
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
}